[submodule "LibOrbisPkg"]
	path = LibOrbisPkg
	url = https://github.com/OpenOrbis/LibOrbisPkg
[submodule "HttpServerLite"]
	path = HttpServerLite
	url = https://github.com/marcussacana/HttpServerLite
